.deskripsi {
  height: 200px;
}

.bg-yellow-100-report {
  background-color: var(--yellow-100);
  min-height: 68vh;
}

table.table tr.table-primary th {
  background-color: #106ee8;
  color: white;
}
