/* General Stepper Styles */
.stepper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.steps-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.steps {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.step {
  text-align: center;
  position: relative;
}

.step .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
  background-color: #ccc;
  margin: 0 auto 10px;
  z-index: 1;
}

.step .icon.active {
  background-color: #007bff;
}

.step .icon.success {
  background-color: #03d403;
}

.step .icon.danger {
  background-color: red;
}

.step-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-number {
  font-size: 14px;
  color: #939393;
}

.step-text {
  font-size: 14px;
  margin-top: 5px;
}

.stepper-content-container {
  margin-top: 20px;
}

.stepper-content {
  display: none;
}

.stepper-content.fade-in {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}

.step-info {
  font-size: smaller;
}

.step-bar {
  top: 30px; /* Adjust top to be vertically centered */
  left: calc(50% - 20px); /* Adjust left to be horizontally centered */
  height: 6px;
  width: calc(100% - 100px); /* Adjust width to account for icons */
  background-color: #ccc;
  margin-top: 0.7cm;
}

.step-bar.active {
  background-color: #007bff; /* Change this color to fit your theme */
}

.step-text.active {
  color: #007bff;
}

.deskripsi {
  word-wrap: break-word;
  height: 200px;
}

.bg-yellow-100-report {
  background-color: var(--yellow-100);
  min-height: 68vh;
}

table.table tr.table-primary th {
  background-color: #106ee8;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.alert {
  margin-top: 20px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.alert-hidden {
  opacity: 0;
}

@media (max-width: 768px) {
  .step .icon {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }

  .step-text {
    font-size: 12px;
  }

  .step-number {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .steps-container {
    flex-direction: column;
    align-items: center;
  }

  .step-bar {
    display: none;
  }

  .steps {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .step {
    margin-bottom: 20px;
    width: calc(100% - 10px);
  }

  .step::after {
    width: 6px;
    height: calc(100% + 20px);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}
